rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
      match /notes/{noteId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
        match /history/{historyId} { allow read, create, update, delete: if request.auth != null && request.auth.uid == userId; }
      }
      match /categories/{categoryId} { allow read, create, update, delete: if request.auth != null && request.auth.uid == userId; }
    }
  }
}
